extends layout

block content
  h1= category ? category.name : title
  if (products.length)
    ul
      each product in products
        li
          h2= product.name
          span #{product.price} / #{product.volume}
  else
    p No products in this category
  span.docControls
    if (category)
      a(href=category.editUrl) Edit
      |  | 
      a(href=category.deleteUrl) Delete